# Mistral AI Configuration
MISTRAL_API_KEY=your_mistral_api_key_here

# LiveKit Connection (Defaults for dev mode)
LIVEKIT_URL=ws://127.0.0.1:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

# Deepgram AI
DEEPGRAM_API_KEY=your_deepgram_api_key_here

# OpenRouter Configuration
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

# MySQL Configuration
MYSQL_HOST=your_mysql_host_here
MYSQL_USER=your_mysql_user_here
MYSQL_PASSWORD=your_mysql_password_here
MYSQL_DB=your_mysql_db_here
MYSQL_PORT=3306

# Weather API
WEATHER_API_KEY=your_weather_api_key_here

# MongoDB (IPL Nexus - for Cortex BI 2)
MONGO_URI=your_mongo_uri_here
DB_NAME=ipl_game

# Telegram Commander HITL Configuration
TELEGRAM_BOT_TOKEN="your_telegram_bot_token_here"
TELEGRAM_CHAT_ID="your_telegram_chat_id_here"

# Runway Configuration
RUNWAY_AVATAR_ID=your_runway_avatar_id_here
RUNWAYML_API_SECRET=your_runway_api_secret_here
